
/* 
-webkit-box-sizing: border-box; /* Define a propriedade box-sizing como border-box para todos os elementos
-moz-box-sizing: border-box; / Define a propriedade box-sizing como border-box para todos os elementos /
box-sizing: border-box; / Define a propriedade box-sizing como border-box para todos os elementos */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*

-- ESTILOS BASE --
A maioria deles é herdada do Base, mas quero mudar alguns. */

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 25px;
}

h2 {
    font-size: 30px;
}

/*

-- ESTILOS DE LAYOUT --
Estas são algumas classes úteis que vou precisar*/

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}


/*

-- ESTILOS DE FORMULÁRIO PURE (purecss.io) --
Estilizar os inputs e labels do formulário */

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}


/*

-- ESTILOS DE BOTÃO PURE (purecss.io) --
Quero que meus elementos de botão pure tenham uma aparência um pouco diferente */

.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}

a.pure-button-primary:hover {
    background-color: #a6f4ff;;
}


/*
 * -- SPLASH STYLES --
 * Esta é a seção superior azul que aparece na página.
 */

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* Os estilos a seguir são necessários para o efeito de "rolagem sobreposta"/"scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* centralizar absolutamente .splash dentro de .splash-container 
       ajuste width responsivo, valor fit-content*/
    width: fit-content;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 5px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* Este é o cabeçalho principal(main heading) que aparece na seção azul */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 2em;
}

/* Este é o subcabeçalho(subheading) que aparece na seção azul*/
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * Isso representa a área de conteúdo (content, tudo abaixo da seção azul)
 */
.content-wrapper {
    /* Esses estilos são necessários para o efeito de "rolagem sobreposta"/"scroll-over" effect */
    position: absolute;
    top: 90%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* Queremos dar à área de conteúdo mais espaço de preenchimento(padding) */
.content {
    padding: 1em 1em 3em;
}

/* Esta é a classe usada para os cabeçalhos de conteúdo principal(main content headers) (<h2>)  */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* Esta é uma classe modificadora usada quando o content-head está dentro de uma fita(ribbon) */
.content-head-ribbon {
    color: white;
}

/*  Esta é a classe usada para os subcabeçalhos de conteúdo (content-subheaders) (<h3>)  */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* Esta é a classe usada para as áreas de fundo escuro/dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* Esta é a classe usada para o rodapé/footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * Em tablets e outros dispositivos de tamanho médio, queremos personalizar alguns
 * dos estilos de dispositivos móveis.
 */

 
@media (min-width: 89em)  {

    /* Aumentamos o tamanho da fonte do body/corpo */
    body {
        font-size: 16px;
    }

    /* Aumentamos a altura do .splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* Diminuímos a largura do .splash, já que temos mais largura
para trabalhar */
    .splash {
        width: 25%;
        height: 50%;
    }

    .splash-head {
        font-size: 100%;
    }


    /* Removemos o separador de borda atribuído a .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}


/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * Em desktops e outros dispositivos grandes, queremos substituir alguns
 * dos estilos de dispositivos móveis e tablets.
 */
@media (min-width: 78em) {
    /* Aumentamos ainda mais o tamanho da fonte do header */
    .splash-head {
        font-size: 99%;
    }


}