.titulo {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table1 {
    border: 2px solid;
    background-color: white;
    font-weight: 560;
    

}
td {
    border: 1px solid black;
    
}
input {
    background-color: #ededf4;
    
}

input:hover {
    cursor: pointer;
    background-color: #a6f4ff;
    
}


button {
    padding: 0 130px;
    cursor: pointer;
    font-weight: 560;
    font-size: medium;

}

